# DO NOT USE ON LOCALHOST
#<IfModule mod_security.c>
#	SecFilterEngine Off
#	SecFilterScanPOST Off
#</IfModule>

AddType video/ogg .ogv
AddType video/webm .webm

php_value max_input_vars 3000
php_value suhosin.get.max_vars 3000
php_value suhosin.post.max_vars 3000
php_value suhosin.request.max_vars 3000

#Header unset ETag
#FileETag None
#<IfModule cache_module.c>
#	CacheDisable on
#</IfModule>

# DO NOT USE ON LOCALHOST
#RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*) https://www.%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*) https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

#<IfModule mod_headers.c>
#	Header set Cache-Control "no-cache, no-store, must-revalidate"
#	Header set Pragma "no-cache"
#	Header set Expires 0
#</IfModule>

<FilesMatch ".(ttf|otf|woff|woff2)$">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>
